
form {
    display: flex;
    justify-content: center;
}


input[type="search"] {
    border-color: 1px solid bisque;
    width: 50%;
    padding: 20px;
    background-color: beige;
    margin-top: 30px;
    font-size: 20px;
    min-width: 300px;
}




.gallery{
    padding-top: 30px;
    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    max-width: 1000px;
    margin:auto;
}





